<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Lottie Awesome - Animated FontAwesome with lottie for web, android and IOS
    </title>
    <meta
      name="description"
      content="Need animated font-awesome? Get lottie-awesome, smooth and buttery animated font la-icon"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="docs-style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <h1>Lottie awesome</h1>
        <p>
          Lottie awesome is a set of icons and scripts for controlling
          AfterEffects bodymovin (also called lottie) animations.
        </p>
        <h3>How to use?</h3>
        <p>
          Clone the repository, or download the zip file from
          <a href="https://github.com/torabian/lottie-awesome"
            >https://github.com/torabian/lottie-awesome</a
          >, and you can access the fonts folder all json file you can see here,
          then import it using your lottie environment
        </p>
      </div>
      <div class="icons-container">
        <div class="icon-container" v-for="icon in icons">
          <div v-bind:id="icon" class="la-icon"></div>
          <span class="icon-name">{{ icon }}</span>
        </div>
      </div>

      <h2>
        Lottie Awesome IOT icons component
      </h2>
      <p>
        Animated IOT Icons (Svg, Lottie) done by after effects. Use for
        different purposes, such as home automation or PLC visual ladder
      </p>

      <div class="icons-container">
        <div class="icon-container" v-for="icon in largeIcons">
          <div v-bind:id="icon" class="component-icon"></div>
          <span class="icon-name">{{ icon }}</span>
        </div>
      </div>
    </div>
  </body>

  <script src="docs-script.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        icons: fonts,
        largeIcons: largeIcons
      }
    });
  </script>
</html>
